---
title: Getting Started - Gobot - Golang framework for robotics, physical computing, and the Internet of Things
author: The Hybrid Group
description: Gobot Getting Started
page_title: Getting Started
page_subtitle: A Guide by Humans, for Humans.
active_menu_docs: true

page_title_show: true
layout: documentation
---

%section.how-to
  :markdown
    ## Install Go

    Go is an open-source programming language that makes it easy to develop simple, reliable, and efficient software.

    Follow the <a href="http://golang.org/doc/install" target="blank">official installation instructions</a> to get started.

%section
  :markdown
    ## Install Gobot

    With Go installed, the `go get` tool will help you install Gobot and its required dependencies:

        $ go get -d -u github.com/hybridgroup/gobot/...

%section
  :markdown
    ## Programming Hardware

    Now you're ready to write some code!
    Take a look at the examples below to get started using Gobot.

%section
  :markdown
    #### Arduino With LED

    This is the "Hello World" of physical computing, a blinking LED!
    This program connects to an [Arduino][] on port `/dev/ttyACM0`, and flashes an [LED][] every one second.
    Take note, your Arduino may be on a different port number.

    [Arduino]: /documentation/platforms/arduino
    [LED]: /documentation/drivers/led

        :::go
        package main

        import (
                "time"

                "github.com/hybridgroup/gobot"
                "github.com/hybridgroup/gobot/platforms/firmata"
                "github.com/hybridgroup/gobot/platforms/gpio"
        )

        func main() {
                gbot := gobot.NewGobot()

                firmataAdaptor := firmata.NewFirmataAdaptor("arduino", "/dev/ttyACM0")
                led := gpio.NewLedDriver(firmataAdaptor, "led", "13")

                work := func() {
                        gobot.Every(1*time.Second, func() {
                                led.Toggle()
                        })
                }

                robot := gobot.NewRobot("bot",
                        []gobot.Connection{firmataAdaptor},
                        []gobot.Device{led},
                        work,
                )

                gbot.AddRobot(robot)

                gbot.Start()
        }

%section
  :markdown
    ## Going further

    Be sure to check out the rest of our [examples][]. as well as our [platforms][],
    [guides][], and [core][] API documentation to help get started with your
    hardware application.

    [examples]: /documentation/examples
    [platforms]: /documentation/platforms
    [guides]: /documentation/guides
    [core]: /documentation/core

%section.footer
