- unless current_page.data.hero.nil?
  .hero
    .clouds
    .container
      .description
        %h1.title
          = current_page.data.hero_title

        %p
          = current_page.data.hero_subtitle

        = current_page.data.getting_started_button

        .social
          = yield_content :social_links

      .display
        .waves
          .inner
          .outer
        %img{src: "/images/elements/gopher.png"}/


    .grass
      .hill
  .about
    .container
      %h2 Gobot is a framework for robotics, physical computing, and the Internet of Things (IoT), written in <span><a href='http://golang.org'>the Go programming language</a></span>
