---
page_title_show: true
title: Gobot Makes Internet of Things Development Both Easy And Powerful
page_title: News
date: 2016-12-21
tags: news
author: Ron Evans
layout: page
active_menu_resources: true
page_title_show: true
---

:markdown
  # Gobot Makes Internet of Things Development Both Easy And Powerful

  ## Open Source Robotics and IoT Framework Releases Version 1.0

  Los Angeles, CA, December 21, 2016 - [Gobot](https://gobot.io) the open source robotics and Internet of Things (IoT) framework has just reached a major milestone today with the release of version 1.0. Now supporting over 24 different hardware and software platforms, the framework can also connect using Machine to Machine (M2M) communication standards such as MQTT.

  "We created Gobot to make IoT development easy, and at the same time provide industrial strength tools" says Ron Evans, the creator of Gobot and 'Ringleader' of [The Hybrid Group](http://hybridgroup.com), the software consultancy that has sponsored the open source project. "By using the Go programming language we get powerful performance and portability that is unmatched."

  "Modern development tools like Gobot can unlock the power in next-generation devices, and can help developers take advantage of new opportunities being opened in IoT, robotics, and drones,” says Rex St. John, Ecosystem Manager at Intel New Technology Group (http://www.intel.com/). "Gobot can use all of the cores on these new multi-core devices right out of the box.”

  "Being an innovator on the frontier means we can choose the best technology stack and design for forward-thinking solutions. And we love Gobot!" says Jinger Zeng, CEO of [Dronesmith](http://dronesmith.io/), a drone technology company currently in the [TechStars IoT accelerator](http://www.techstars.com/programs/iot-program/). "Gobot strikes the perfect balance between simplicity and performance."

  "As real-world robotics and IoT solutions begin to take off, developers need powerful yet simple tools like Gobot," says Brian Flannery, Ecosystem Manager at [Apcera](http://apcera.com/), creators of the open source messaging software NATS. "We've seen how quickly and easily developers can use Gobot to get their hardware connected to a simple and secure messaging system like NATS."

  Written in the ["Go" programming language](https://golang.org/), a programming language created by Google, Gobot provides an easy way to program drones, robots and connected devices. Gobot is in the 99th percentile of most popular Golang projects on [Github](http://github.com), the open source coding website. The 1.0 release of Gobot creates an industrial-strength technology for professional IoT application development.

  #### About The Hybrid Group
  [The Hybrid Group](http://hybridgroup.com) is a software development consultancy based in Los Angeles, CA. Some have called them "the software company that makes hardware companies look good", with clients such as [Sphero](http://www.sphero.com/) and [Particle](https://www.particle.io/). For more information, contact via the web site at [http://hybridgroup.com](http://hybridgroup.com)
