.call-to-action{
  @extend %button;
}

%footer-button{
  background-color: $color-button-footer;
  display: inline-block;
  padding: em(7) em(14);

  a {
    color: $color-grey;

    &:hover{
      color: $color-white;
    }
  }

  @include media($tablet) {
    margin: 0 auto;
  }
}