@mixin title-font($size, $color) {
  font-family: $font-primary;
  font-weight: 600;
  font-size: $size;
  color: $color;
}

@mixin documentation-font($size, $color) {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: $size;
  color: $color;
}

@mixin font($size, $height) {
  font-size: $size;
  line-height: $height;
}