// Config 

$body-bg-color: #f3f1eb;
$footer-text-color: #fef7f0;
$footer-bg-color: #514b47;

$link-color: #9e162e;
$link-hover-color: #580a25;

$title-color: #3e3e3e;
$lesser-title-color: #3e3e3e;
$header-subtitle-color: #505252;
$title-border-color: #e1dfda;

$hero-color: #86D7E0;
$hero-title-color: #fafaf1;
$hero-subtitle-color: #ebfdff;
$hero-link-color: #83c74e;
$hero-link-hover-color: white;
$hero-section-nav: #514b47;

$button-color: #fff441;
$button-hover-color: darken($button-color, 5%);
$button-shadow-color: #ffd146;
$button-border-color: #ddab38;
$button-footer-color: #77b547;

$cta-color: #77b547;
$cta-code-color: #ff8196;
$cta-hover-color: $cta-color - 30;
$cta-text-color: $hero-link-color;
$cta-text-hover-color: $hero-link-hover-color;

$blog-title-color: #77b547;
$blog-date-top-color: #b39f89;

$doc-description-color:  #808080;
$doc-color: darken($cta-color, 10);
$doc-border: #89cd54;
$doc-active-color: #e8e8e8;

$social-catcher-background-color: #FDFCF5;

$header-size: 66px;
$logo-size: 226px;

$small-screen: 479px;
$medium-screen: 767px;
$big-screen: 960px;

$mq-big: "only screen and (min-width: 960px)";
$mq-medium-small: "only screen and (max-width: 767px) and (min-width: 1px)";
$mq-medium: "only screen and (max-width: 767px) and (min-width: 479px)";
$mq-small: "only screen and (max-width : 479px) and (min-width : 1px)";


// NEW-TOP-MENU
$menu-background-color: #514b47;
$menu-item-color: #eeeaec;

$info-color: #f48567;

//URL SRC
$header-logo-src: '/images/elements/logo.png';
$header-background-src: '/images/elements/back.png';
$header-background-menu-src: '/images/elements/back_menu_blur.png';

//Page Font
$page-title-font: "Montserrat", sans-serif;

// SubNav Drivers

$color-text-subnav-drivers: #504338;
