---
page_title_show: true
title: Gobot - Dualshock3 Controller Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Dualshock3 Controller
page_subtitle_docs: Driver
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/dualshock3.jpg", class: "display"

.info-intro
  %p Allows user to interact with Artoo devices using a Dualshock3 game controller.
  %a{ :href => "http://godoc.org/gobot.io/x/gobot/platforms/joystick#JoystickDriver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::go
        // code here
        ...

%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example using Dualshock3 controller joystick and an Ardrone.
  :markdown
        :::go
        // code here

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Joystick - DualShock 3" }
