---
title: Gobot - Grove Led Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Grove Led
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/grove-led.jpg", class: "display"
.info-intro
  %p
    This Grove consists of one 8mm RGB LED. It operates at 5V DC. When SIG pin is logic HIGH, the RGB LED
    will light up. Perfect for use on Seeeduino digital outputs, or also can be controlled by pulse-width
    modulation. And it uses three adjustable resistor to change the color of the RGB LED.

  %a{:href => "https://godoc.org/gobot.io/x/gobot/drivers/gpio#GroveLedDriver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the package with: `go get gobot.io/x/gobot`

%section.how-to#HowToUse
  %h2 How To Use

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Grove Touch" }
