---
title: Gobot - Grove Accelerometer Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Grove Accelerometer
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/grove-accelerometer.jpg", class: "display"
.info-intro
  %p
    This 3-axis Accelerometer module is based on MMA7660FC with Digital Output I2C.
    This Module can be used for sensing data changes, product orientation, and gesture
    detection through an interrupt pin (INT).It is a very low power, low profile capacitive
    MEMS sensor.
  %a{:href => "https://godoc.org/gobot.io/x/gobot/drivers/i2c#GroveAccelerometerDriver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how-to#HowToConnect
%h2 How To Connect
:markdown
  Install the package with: `go get gobot.io/x/gobot`

  You must pass in an Adaptor that supports the `i2c.Connector` interface to use with this Driver.

  You can use the following optional params if you wish to change the I2C Bus and I2C Address from the default values.

    `i2c.WithBus(int)`:	bus to use with this driver.

    `i2c.WithAddress(int)`:	address to use with this driver

:markdown
      :::go
      // default bus/address
      accel := i2c.NewGroveAccelerometerDriver(adaptor)

      // optional bus/address
      accel := i2c.NewGroveAccelerometerDriver(adaptor,
                                     i2c.WithBus(0),
                                     i2c.WithAddress(0x34))


%section.how-to#HowToUse
   %h2 How To Use
   %h3 Example using a Grove Accelerometer.
   :markdown
         :::go
         // code here

%section.Compatibility.hardware#Compatibility
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Grove Accelerometer" }
