---
title: Gobot - Grove Button Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Grove Button
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/grove-button.jpg", class: "display"
.info-intro
  %p
    The Grove - Button is a momentary push button. It contains one independent "momentary on/off" button.
    “Momentary” means that the button rebounds on its own after it is released. The button outputs a HIGH
    signal when pressed, and LOW when released. The button signals the SIG Pin of the Grove Interface while
    NC is not used at all.

  %a{:href => "https://godoc.org/github.com/hybridgroup/gobot/platforms/i2c", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the library with: `go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/i2c`

%section.how-to#HowToUse
  %h2 How To Use

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Grove Touch" }
