---
title: Gobot - Grove Light Sensor Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Grove Light Sensor
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/grove-light-sensor.jpg", class: "display"
.info-intro
  %p
    The Grove - Light Sensor module incorporates a Light Dependent Resistor (LDR). Typically, the resistance
    of the LDR or Photoresistor will decrease when the ambient light intensity increases. This means that the
    output signal from this module will be HIGH in bright light, and LOW in the dark.

  %a{:href => "https://godoc.org/gobot.io/x/gobot/drivers/aio#GroveLightSensorDriver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the package with: `go get gobot.io/x/gobot`

%section.how-to#HowToUse
  %h2 How To Use

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Grove Touch" }
