---
title: Gobot - HMC6352 Digital Compass Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: HMC6352 Digital Compass
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/hmc6352-compass.jpg", class: "display"
  .info-intro  
    %p Allows user to read heading from HMC6352 Digital Compass via i2c interface
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the library with: `go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/i2c`
  :markdown
        :::go
        package main

        import (
          "fmt"
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot/platforms/firmata"
          "github.com/hybridgroup/gobot/platforms/i2c"
          "time"
        )

        func main() {
          gbot := gobot.NewGobot()
          firmataAdaptor := firmata.NewFirmataAdaptor("firmata", "/dev/ttyACM0")

          hmc6352 := i2c.NewHMC6352Driver(firmataAdaptor, "hmc6352")
        ...

%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example using a HMC6352 Digital Compass.
  :markdown
        :::go
        package main

        import (
          "fmt"
          "time"

          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot/platforms/firmata"
          "github.com/hybridgroup/gobot/platforms/i2c"
        )

        func main() {
          gbot := gobot.NewGobot()

          firmataAdaptor := firmata.NewFirmataAdaptor("firmata", "/dev/ttyACM0")
          hmc6352 := i2c.NewHMC6352Driver(firmataAdaptor, "hmc6352")

          work := func() {
            gobot.Every(100*time.Millisecond, func() {
              fmt.Println("Heading", hmc6352.Heading)
            })
          }

          robot := gobot.NewRobot("hmc6352Bot",
            []gobot.Connection{firmataAdaptor},
            []gobot.Device{hmc6352},
            work,
          )

          gbot.AddRobot(robot)

          gbot.Start()
        }

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/i2c/commands_hmc6352"
  .commands-api#Events
    = partial "/documentation/drivers/partials/i2c/events_hmc6352"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p 
  .image-circuit 
    %img{:src => "/documentation/drivers/breadboards/i2c/hmc6352_bb.png", :alt => ""}/ 
  .clear 

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "HMC6352 Compass" }
