---
page_title_show: true
title: Gobot - Keyboard Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Keyboard
page_subtitle_docs: Driver
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/keyboard.jpg", class: "display"

.info-intro
  %p
    Allows user to interact with gobot devices using any keyboard.
  %a{ :href => "https://godoc.org/gobot.io/x/gobot/platforms/keyboard", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::go
          // code here
          ...

%section.how-to#HowToUse
  %h2 How To Use
  %p Example receiving key events from keyboard.
  :markdown
        :::go
          // code here

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Keyboard" }
