---
title: Gobot - Mavlink Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Mavlink
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/mavlink.jpg", class: "display"

.info-intro
  %p More docs coming soon..
  %a{ :href => "http://godoc.org/gobot.io/x/gobot/platforms/mavlink#Driver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.Compatibility.hardware#Compatibility
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Mavlink" }
