---
title: Gobot - MPL115A2 Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has an extensible system for connecting to hardware devices.
page_title_docs: MPL115A2
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/mpl115a2.jpg", class: "display"

.info-intro
  %p
    The MPL115A2 is used for measuring barometric pressure.
    For more information click
    = link_to "here.", "https://www.adafruit.com/products/992", taget: :blank

  %a{ :href => "http://godoc.org/gobot.io/x/gobot/drivers/i2c#MPL115A2Driver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the package with: `go get gobot.io/x/gobot`

    ### For Arduino:

        :::go
        // code here
        ...

%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example using a MPL115A2.
  :markdown
        :::go
        // code here


%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/i2c/mpl115a2_bb.png", :alt => "MPL115A2 Breadboard"}/
  .clear

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "MPL115A2" }
