---
title: Gobot - Neurosky Mindwave Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Neurosky Mindwave
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/neurosky.jpg", class: "display"

.info-intro
  %p
    The MindWave headset turns your computer into a brain activity monitor. The headset safely measures brainwave signals and monitors the attention levels of individuals as they interact with math, memory and pattern recognition applications.
  %a{ :href => "http://godoc.org/gobot.io/x/gobot/platforms/neurosky#NeuroskyDriver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::go
        // code here
        ...


%section.how-to#HowToUse
  %h2 How To Use
  %p This small program use the Neurosky.
  :markdown
        :::go
        // code here

%section.compatibility.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Neurosky Mindwave" }
