---
title: Gobot - Pebble Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Pebble
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/pebble.jpg", class: "display"

.info-intro
  %p Allows user to interact with gobot devices using a Pebble smart watch.
  %a{ :href => "http://godoc.org/gobot.io/x/gobot/platforms/pebble#PebbleDriver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how-to#HowToConnect
  %h2 How to Connect
  :markdown
        :::go
        // code here
        ...

%section.how-to#HowToUse
  %h2 How to Use
  %h3 Example receiving button events from a Pebble smart watch.
  :markdown
        :::go
        // code here

%section.Compatibility.hardware
  %h2 Works with:
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Pebble" }
