---
title: Gobot - Pebble Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Pebble
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true
---
  
%section.intro
  =image_tag "/images/devices/pebble.jpg", class: "display"

.info-intro
  %p Allows user to interact with gobot devices using a Pebble smart watch.
  %a{ :href => "http://godoc.org/github.com/hybridgroup/gobot/platforms/pebble#PebbleDriver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how-to#HowToConnect
  %h2 How to Connect
  :markdown
        :::go
        package main

        import (
          "fmt"
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot/api"
          "github.com/hybridgroup/gobot/platforms/pebble"
        )

        func main() {
          master := gobot.NewGobot()
          api.NewAPI(master).Start()

          pebbleAdaptor := pebble.NewPebbleAdaptor("pebble")
          pebbleDriver := pebble.NewPebbleDriver(pebbleAdaptor, "pebble")
        ...

%section.how-to#HowToUse
  %h2 How to Use
  %h3 Example receiving button events from a Pebble smart watch.
  :markdown
        :::go
        package main

        import (
          "fmt"

          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot/api"
          "github.com/hybridgroup/gobot/platforms/pebble"
        )

        func main() {
          gbot := gobot.NewGobot()
          api.NewAPI(gbot).Start()

          pebbleAdaptor := pebble.NewPebbleAdaptor("pebble")
          pebbleDriver := pebble.NewPebbleDriver(pebbleAdaptor, "pebble")

          work := func() {
            pebbleDriver.SendNotification("Hello Pebble!")
            gobot.On(pebbleDriver.Event("button"), func(data interface{}) {
              fmt.Println("Button pushed: " + data.(string))
            })

            gobot.On(pebbleDriver.Event("tap"), func(data interface{}) {
              fmt.Println("Tap event detected")
            })
          }

          robot := gobot.NewRobot("pebble",
            []gobot.Connection{pebbleAdaptor},
            []gobot.Device{pebbleDriver},
            work,
          )

          gbot.AddRobot(robot)

          gbot.Start()
        }

%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Pebble" }
