---
title: Gobot - Wii Nunchuck Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Gobot has a extensible system for connecting to hardware devices.
page_title_docs: Wii Nunchuk
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true
---

%section.intro
  =image_tag "/images/devices/wiimote-nunchuk.jpg", class: "display"

.info-intro
  %p Allows user to use a Nintendo Wii Nunchuck controller via i2c interface
  %a{ :href => "http://godoc.org/gobot.io/x/gobot/drivers/i2c#WiichuckDriver", :class => "api-link", :target => "_blank"} API Reference
.clear

%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the package with: `go get gobot.io/x/gobot`

  %h3 For Arduino:
  :markdown
        :::go
        // code here
        ...


%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example using a Nintendo Wii Nunchuck.
  :markdown
        :::go
        // code here

%section.compatability.hardware#Compatability
  %h2 Compatability
  .devices
    = partial "/partials/platforms_for_driver", locals: { driver: "Wiimote Nunchuk" }
