---
title: Arduino with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Arduino
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-firmata' target='_blank' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-firmata/issues' target='_blank'>Issues</a>"
api_reference: <a href='http://godoc.org/github.com/hybridgroup/gobot/platforms/firmata#FirmataAdaptor' target='blank' class='api-link'>API Reference</a>
page_title_show: true
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/arduino.jpg", class: "display"

= partial "documentation/platforms/partials/firmata"

%section.drivers#Drivers
  %h2 Drivers
  %p
    Thanks to
    %strong Gobot
    and
    %strong Go
    it is possible to interact with several I/O hardware devices and interfaces connected to the arduino
    using a set of already defined and easy to use drivers, all of this thanks to the Gobot architecture, in conjuction with the gobot-firmata
    adaptor (using the firmata communication protocol),
    which makes it even possible to swap the entire platform for something else like digispark, and keep using the same code you just wrote for
    Arduino, this just by swapping a couple of lines in your program.
  %p
    Available drivers for the Arduino platform are listed below, the drivers contain detailed documentation and examples of what kind
    physical computing (using Gobot and Go) you could be doing:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Arduino" }
