---
title: Bebop with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Bebop
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot' target='blanck' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot/issues' target='blanck'>Issues</a>"
api_reference: <a href='#' target='blank' class='api-link'>API Reference</a>
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/bebop.jpg", class: "display"

= partial "documentation/platforms/partials/bebop"

%section.drivers#Drivers
  %h2 Drivers
  %p
    Available drivers for the keyboard platform are listed below:
  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Bebop" }
