---
title: Bluetooth Low Energy with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Bluetooth LE
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot' target='_blank' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot/issues' target='_blank'>Issues</a>"
api_reference: <a href='http://godoc.org/github.com/hybridgroup/gobot/platforms/ble' target='blank' class='api-link'>API Reference</a>
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/ble.jpg", class: "display"

= partial "documentation/platforms/partials/ble"

%section.drivers#Drivers
  %h2 Drivers
  %p
    Available drivers for the Bluetooth LE platform are listed below:
  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Bluetooth LE" }
