---
title: Particle with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Particle
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot' target='_blank' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/gobot/issues' target='_blank'>Issues</a>"
api_reference: <a href='http://godoc.org/gobot.io/x/gobot/platforms/particle' target='_blank' class='api-link'>API Reference</a>
page_title_show: true
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/particle.jpg", class: "display"

= partial "documentation/platforms/partials/particle"

%section.drivers#Drivers
  %h2 Drivers

  %p Available drivers for the Particle platform are listed below, the drivers contain detailed documentation and examples of what kinds of physical computing (using Gobot and Golang) you can be doing:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Particle" }
