---
title: Spark with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Spark
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-spark' target='_blank' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/gobot-spark/issues' target='_blank'>Issues</a>"
api_reference: <a href='http://godoc.org/github.com/hybridgroup/gobot/platforms/spark#SparkCoreAdaptor' target='blank' class='api-link'>API Reference</a>
page_title_show: true
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/spark.jpg", class: "display"

= partial "documentation/platforms/partials/spark"

%section.drivers#Drivers
  %h2 Drivers
  
  %p Available drivers for the spark platform are listed below, the drivers contain detailed documentation and examples of what kinds of physical computing (using Gobot and Golang) you can be doing:

  .hardware
    .devices 
      = partial "/partials/devices_for_platform", locals: { platform: "Spark" }
