---
layout: documentation
page_title_show: true
title: "Gobot Example - beaglebone_blink"
page_title: "Example: beaglebone_blink"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"time"

        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot/drivers/gpio"
        	"github.com/hybridgroup/gobot/platforms/beaglebone"
        )

        func main() {
        	beagleboneAdaptor := beaglebone.NewAdaptor()
        	led := gpio.NewLedDriver(beagleboneAdaptor, "P9_12")

        	work := func() {
        		gobot.Every(1*time.Second, func() {
        			led.Toggle()
        		})
        	}

        	robot := gobot.NewRobot("blinkBot",
        		[]gobot.Connection{beagleboneAdaptor},
        		[]gobot.Device{led},
        		work,
        	)

        	robot.Start()
        }

