---
layout: documentation
page_title_show: true
title: "Gobot Example - beaglebone_blinkm"
page_title: "Example: beaglebone_blinkm"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"time"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/drivers/i2c"
        	"gobot.io/x/gobot/platforms/beaglebone"
        )

        func main() {
        	beagleboneAdaptor := beaglebone.NewAdaptor()
        	blinkm := i2c.NewBlinkMDriver(beagleboneAdaptor)

        	work := func() {
        		gobot.Every(1*time.Second, func() {
        			r := byte(gobot.Rand(255))
        			g := byte(gobot.Rand(255))
        			b := byte(gobot.Rand(255))
        			blinkm.Rgb(r, g, b)
        			color, _ := blinkm.Color()
        			fmt.Println("color", color)
        		})
        	}

        	robot := gobot.NewRobot("blinkmBot",
        		[]gobot.Connection{beagleboneAdaptor},
        		[]gobot.Device{blinkm},
        		work,
        	)

        	robot.Start()
        }

