---
layout: documentation
page_title_show: true
title: "Gobot Example - digispark_api"
page_title: "Example: digispark_api"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot/api"
        	"github.com/hybridgroup/gobot/drivers/gpio"
        	"github.com/hybridgroup/gobot/platforms/digispark"
        )

        func main() {
        	master := gobot.NewMaster()
        	api.NewAPI(master).Start()

        	digisparkAdaptor := digispark.NewAdaptor()
        	led := gpio.NewLedDriver(digisparkAdaptor, "0")

        	robot := gobot.NewRobot("digispark",
        		[]gobot.Connection{digisparkAdaptor},
        		[]gobot.Device{led},
        	)

        	master.AddRobot(robot)

        	master.Start()
        }

