---
layout: documentation
page_title_show: true
title: "Gobot Example - edison_grove_sound_sensor"
page_title: "Example: edison_grove_sound_sensor"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/drivers/gpio"
        	"gobot.io/x/gobot/platforms/intel-iot/edison"
        )

        func main() {
        	board := edison.NewAdaptor()
        	sensor := gpio.NewGroveSoundSensorDriver(board, "0")

        	work := func() {
        		sensor.On(gpio.Data, func(data interface{}) {
        			fmt.Println("sensor", data)
        		})
        	}

        	robot := gobot.NewRobot("sensorBot",
        		[]gobot.Connection{board},
        		[]gobot.Device{sensor},
        		work,
        	)

        	robot.Start()
        }

