---
layout: documentation
page_title_show: true
title: "Gobot Example - edison_grove_button"
page_title: "Example: edison_grove_button"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"

        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot/drivers/gpio"
        	"github.com/hybridgroup/gobot/platforms/intel-iot/edison"
        )

        func main() {
        	e := edison.NewAdaptor()
        	button := gpio.NewGroveButtonDriver(e, "2")

        	work := func() {
        		button.On(gpio.ButtonPush, func(data interface{}) {
        			fmt.Println("On!")
        		})

        		button.On(gpio.ButtonRelease, func(data interface{}) {
        			fmt.Println("Off!")
        		})

        	}

        	robot := gobot.NewRobot("bot",
        		[]gobot.Connection{e},
        		[]gobot.Device{button},
        		work,
        	)

        	robot.Start()
        }

