---
layout: documentation
page_title_show: true
title: "Gobot Example - edison_blink"
page_title: "Example: edison_blink"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"time"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/drivers/gpio"
        	"gobot.io/x/gobot/platforms/intel-iot/edison"
        )

        func main() {
        	e := edison.NewAdaptor()
        	led := gpio.NewLedDriver(e, "13")

        	// Uncomment the line below if you are using a Sparkfun
        	// Edison board with the GPIO block
        	// e.SetBoard("sparkfun")

        	work := func() {
        		gobot.Every(1*time.Second, func() {
        			led.Toggle()
        		})
        	}

        	robot := gobot.NewRobot("blinkBot",
        		[]gobot.Connection{e},
        		[]gobot.Device{led},
        		work,
        	)

        	robot.Start()
        }

