---
layout: documentation
page_title_show: true
title: "Gobot Example - firmata_pir_motion"
page_title: "Example: firmata_pir_motion"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"

        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot/drivers/gpio"
        	"github.com/hybridgroup/gobot/platforms/firmata"
        )

        func main() {
        	firmataAdaptor := firmata.NewAdaptor("/dev/ttyACM0")

        	sensor := gpio.NewPIRMotionDriver(firmataAdaptor, "5")
        	led := gpio.NewLedDriver(firmataAdaptor, "13")

        	work := func() {
        		sensor.On(gpio.MotionDetected, func(data interface{}) {
        			fmt.Println(gpio.MotionDetected)
        			led.On()
        		})
        		sensor.On(gpio.MotionStopped, func(data interface{}) {
        			fmt.Println(gpio.MotionStopped)
        			led.Off()
        		})
        	}

        	robot := gobot.NewRobot("motionBot",
        		[]gobot.Connection{firmataAdaptor},
        		[]gobot.Device{sensor, led},
        		work,
        	)

        	robot.Start()
        }

