---
layout: documentation
page_title_show: true
title: "Gobot Example - firmata_metal_button"
page_title: "Example: firmata_metal_button"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        // TO RUN:
        //	firmata_metal_button <PORT>
        //
        // EXAMPLE:
        //	go run ./examples/firmata_metal_button /dev/ttyACM0
        //
        package main

        import (
        	"fmt"
        	"os"

        	"gobot.io/x/gobot/drivers/gpio"
        	"gobot.io/x/gobot/platforms/firmata"
        )

        func main() {
        	f := firmata.NewAdaptor(os.Args[1])
        	f.Connect()

        	led := gpio.NewLedDriver(f, "2")
        	led.Start()
        	led.Off()

        	button := gpio.NewButtonDriver(f, "3")
        	button.Start()

        	buttonEvents := button.Subscribe()
        	for event := range buttonEvents {
        		fmt.Println("Event:", event.Name, event.Data)
        		if event.Name == gpio.ButtonPush {
        			led.Toggle()
        		}
        	}
        }

