---
layout: documentation
page_title_show: true
title: "Gobot Example - firmata_bmp180"
page_title: "Example: firmata_bmp180"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"os"
        	"time"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/drivers/i2c"
        	"gobot.io/x/gobot/platforms/firmata"
        )

        func main() {
        	firmataAdaptor := firmata.NewAdaptor(os.Args[1])
        	bmp180 := i2c.NewBMP180Driver(firmataAdaptor)

        	work := func() {
        		gobot.Every(1*time.Second, func() {
        			t, _ := bmp180.Temperature()
        			fmt.Println("Temperature", t)

        			p, _ := bmp180.Pressure()
        			fmt.Println("Pressure", p)
        		})
        	}

        	robot := gobot.NewRobot("bmp180bot",
        		[]gobot.Connection{firmataAdaptor},
        		[]gobot.Device{bmp180},
        		work,
        	)

        	robot.Start()
        }

