---
layout: documentation
page_title_show: true
title: "Gobot Example - firmata_makey_button"
page_title: "Example: firmata_makey_button"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot/drivers/gpio"
        	"github.com/hybridgroup/gobot/platforms/firmata"
        )

        func main() {
        	firmataAdaptor := firmata.NewAdaptor("/dev/ttyACM0")
        	button := gpio.NewMakeyButtonDriver(firmataAdaptor, "2")
        	led := gpio.NewLedDriver(firmataAdaptor, "13")

        	work := func() {
        		button.On(gpio.ButtonPush, func(data interface{}) {
        			led.On()
        		})

        		button.On(gpio.ButtonRelease, func(data interface{}) {
        			led.Off()
        		})
        	}

        	robot := gobot.NewRobot("makeyBot",
        		[]gobot.Connection{firmataAdaptor},
        		[]gobot.Device{button, led},
        		work,
        	)

        	robot.Start()
        }

