---
layout: documentation
page_title_show: true
title: "Gobot Example - firmata_grove_sound_sensor"
page_title: "Example: firmata_grove_sound_sensor"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"os"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/drivers/aio"
        	"gobot.io/x/gobot/platforms/firmata"
        )

        func main() {
        	board := firmata.NewAdaptor(os.Args[1])
        	sensor := aio.NewGroveSoundSensorDriver(board, "3")

        	work := func() {
        		sensor.On(aio.Data, func(data interface{}) {
        			fmt.Println("sensor", data)
        		})
        	}

        	robot := gobot.NewRobot("sensorBot",
        		[]gobot.Connection{board},
        		[]gobot.Device{sensor},
        		work,
        	)

        	robot.Start()
        }

