---
layout: documentation
page_title_show: true
title: "Gobot Example - leap_motion"
page_title: "Example: leap_motion"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/platforms/leap"
        )

        func main() {
        	leapMotionAdaptor := leap.NewAdaptor("127.0.0.1:6437")
        	l := leap.NewDriver(leapMotionAdaptor)

        	work := func() {
        		l.On(leap.MessageEvent, func(data interface{}) {
        			fmt.Println(data.(leap.Frame))
        		})
        	}

        	robot := gobot.NewRobot("leapBot",
        		[]gobot.Connection{leapMotionAdaptor},
        		[]gobot.Device{l},
        		work,
        	)

        	robot.Start()
        }

