---
layout: documentation
page_title_show: true
title: "Gobot Example - leap_motion"
page_title: "Example: leap_motion"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot/platforms/leap"
        )

        func main() {
        	gbot := gobot.NewGobot()
        	leapMotionAdaptor := leap.NewLeapMotionAdaptor("leap", "127.0.0.1:6437")
        	l := leap.NewLeapMotionDriver(leapMotionAdaptor, "leap")

        	work := func() {
        		gobot.On(l.Events["Message"], func(data interface{}) {
        			fmt.Println(data.(leap.Frame))
        		})
        	}

        	gbot.Robots = append(gbot.Robots, gobot.NewRobot(
        		"leapBot", []gobot.Connection{leapMotionAdaptor}, []gobot.Device{l}, work))

        	gbot.Start()
        }

