---
layout: documentation
page_title_show: true
title: "Gobot Example - microbit_led"
page_title: "Example: microbit_led"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"os"
        	"time"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/platforms/ble"
        	"gobot.io/x/gobot/platforms/microbit"
        )

        func main() {
        	bleAdaptor := ble.NewClientAdaptor(os.Args[1])
        	ubit := microbit.NewLEDDriver(bleAdaptor)

        	work := func() {
        		ubit.Blank()
        		gobot.After(1*time.Second, func() {
        			ubit.WriteText("Hello")
        		})
        		gobot.After(7*time.Second, func() {
        			ubit.Smile()
        		})
        	}

        	robot := gobot.NewRobot("blinkBot",
        		[]gobot.Connection{bleAdaptor},
        		[]gobot.Device{ubit},
        		work,
        	)

        	robot.Start()
        }

