---
layout: documentation
page_title_show: true
title: "Gobot Example - minidrone"
page_title: "Example: minidrone"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        /*
         How to run
         Pass the Bluetooth name or address as first param:

        	go run examples/minidrone.go "Mambo_1234"

         NOTE: sudo is required to use BLE in Linux
        */

        package main

        import (
        	"os"
        	"time"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/platforms/ble"
        	"gobot.io/x/gobot/platforms/parrot/minidrone"
        )

        func main() {
        	bleAdaptor := ble.NewClientAdaptor(os.Args[1])
        	drone := minidrone.NewDriver(bleAdaptor)

        	work := func() {
        		drone.TakeOff()

        		gobot.After(5*time.Second, func() {
        			drone.Land()
        		})
        	}

        	robot := gobot.NewRobot("minidrone",
        		[]gobot.Connection{bleAdaptor},
        		[]gobot.Device{drone},
        		work,
        	)

        	robot.Start()
        }

