---
layout: documentation
page_title_show: true
title: "Gobot Example - opencv_window"
page_title: "Example: opencv_window"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/platforms/opencv"
        	"gocv.io/x/gocv"
        )

        func main() {
        	window := opencv.NewWindowDriver()
        	camera := opencv.NewCameraDriver(0)

        	work := func() {
        		camera.On(opencv.Frame, func(data interface{}) {
        			img := data.(gocv.Mat)
        			window.ShowImage(img)
        			window.WaitKey(1)
        		})
        	}

        	robot := gobot.NewRobot("cameraBot",
        		[]gobot.Device{window, camera},
        		work,
        	)

        	robot.Start()
        }

