---
layout: documentation
page_title_show: true
title: "Gobot Example - particle_led_brightness"
page_title: "Example: particle_led_brightness"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"time"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/drivers/gpio"
        	"gobot.io/x/gobot/platforms/particle"
        )

        func main() {
        	core := particle.NewAdaptor("device_id", "access_token")
        	led := gpio.NewLedDriver(core, "A1")

        	work := func() {
        		brightness := uint8(0)
        		fadeAmount := uint8(25)

        		gobot.Every(500*time.Millisecond, func() {
        			led.Brightness(brightness)
        			brightness = brightness + fadeAmount
        			if brightness == 0 || brightness == 255 {
        				fadeAmount = -fadeAmount
        			}
        		})
        	}

        	robot := gobot.NewRobot("spark",
        		[]gobot.Connection{core},
        		[]gobot.Device{led},
        		work,
        	)

        	robot.Start()
        }

