---
layout: documentation
page_title_show: true
title: "Gobot Example - particle_events"
page_title: "Example: particle_events"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/platforms/particle"
        )

        func main() {
        	core := particle.NewAdaptor("DEVICE_ID", "ACCESS_TOKEN")

        	work := func() {
        		if stream, err := core.EventStream("all", ""); err != nil {
        			fmt.Println(err)
        		} else {
        			// TODO: some other way to handle this
        			fmt.Println(stream)
        		}
        	}

        	robot := gobot.NewRobot("spark",
        		[]gobot.Connection{core},
        		work,
        	)

        	robot.Start()
        }

