---
layout: documentation
page_title_show: true
title: "Gobot Example - particle_function"
page_title: "Example: particle_function"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"

        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/platforms/particle"
        )

        func main() {
        	core := particle.NewAdaptor("DEVICE_ID", "ACCESS_TOKEN")

        	work := func() {
        		if result, err := core.Function("brew", "202,230"); err != nil {
        			fmt.Println(err)
        		} else {
        			fmt.Println("result from \"brew\":", result)
        		}
        	}

        	robot := gobot.NewRobot("spark",
        		[]gobot.Connection{core},
        		work,
        	)

        	robot.Start()
        }

