---
layout: documentation
page_title_show: true
title: "Gobot Example - pebble_accelerometer"
page_title: "Example: pebble_accelerometer"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot/api"
        	"github.com/hybridgroup/gobot/platforms/pebble"
        )

        func main() {
        	master := gobot.NewGobot()
        	api.NewAPI(master).Start()

        	pebbleAdaptor := pebble.NewPebbleAdaptor("pebble")
        	pebbleDriver := pebble.NewPebbleDriver(pebbleAdaptor, "pebble")

        	work := func() {
        		gobot.On(pebbleDriver.Events["accel"], func(data interface{}) {
        			fmt.Println(data.(string))
        		})
        	}

        	robot := gobot.NewRobot("pebble", []gobot.Connection{pebbleAdaptor}, []gobot.Device{pebbleDriver}, work)

        	master.Robots = append(master.Robots, robot)
        	master.Start()
        }

