---
layout: documentation
page_title_show: true
title: "Gobot Example - pebble_accelerometer"
page_title: "Example: pebble_accelerometer"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"

        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot/api"
        	"github.com/hybridgroup/gobot/platforms/pebble"
        )

        func main() {
        	master := gobot.NewMaster()
        	a := api.NewAPI(master)
        	a.Port = "8080"
        	a.Start()

        	pebbleAdaptor := pebble.NewAdaptor()
        	pebbleDriver := pebble.NewDriver(pebbleAdaptor)

        	work := func() {
        		pebbleDriver.On(pebbleDriver.Event("accel"), func(data interface{}) {
        			fmt.Println(data.(string))
        		})
        	}

        	robot := gobot.NewRobot("pebble",
        		[]gobot.Connection{pebbleAdaptor},
        		[]gobot.Device{pebbleDriver},
        		work,
        	)

        	master.AddRobot(robot)

        	master.Start()
        }

