---
layout: documentation
page_title_show: true
title: "Gobot Example - spark_core_api"
page_title: "Example: spark_core_api"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::go
        package main

        import (
        	"time"

        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot/api"
        	"github.com/hybridgroup/gobot/platforms/gpio"
        	"github.com/hybridgroup/gobot/platforms/spark"
        )

        func main() {
        	gbot := gobot.NewGobot()
        	api.NewAPI(gbot).Start()

        	sparkCore := spark.NewSparkCoreAdaptor("spark", "device_id", "access_token")
        	led := gpio.NewLedDriver(sparkCore, "led", "D7")

        	work := func() {
        		gobot.Every(1*time.Second, func() {
        			led.Toggle()
        		})
        	}

        	robot := gobot.NewRobot("spark",
        		[]gobot.Connection{sparkCore},
        		[]gobot.Device{led},
        		work,
        	)

        	gbot.AddRobot(robot)

        	gbot.Start()
        }

