%ul.doc-platform
  - if current_page.data.ardrone_platform == true
    ///Ardrone
    %li
      %a{href:"/documentation/platforms/ardrone", title: "AR Drone"}
        %p.title AR Drone
        %img{src: "/images/devices/ardrone.jpg", style: "width: 90%"} 

  - if current_page.data.arduino_platform == true
    /// Arduino
    %li
      %a{href:"/documentation/platforms/arduino", title: "Arduino"}
        %p.title Arduino
        %img{src: "/images/devices/arduino.jpg", style: "width: 90%"}

  - if current_page.data.beaglebone_platform == true
    /// Beaglebone
    %li
      %a{href:"/documentation/platforms/beaglebone", title: "BeagleBone"}
        %p.title Beaglebone
        %img{src: "/images/devices/beaglebone.jpg", style: "width: 90%"}  

  - if current_page.data.crazyflie_platform == true
    /// Crazylie
    %li
      %a{href:"/documentation/platforms/crazyflie", title: "Crazyflie"}
        %p.title Crazylie
        %img{src: "/images/devices/crazyflie.jpg", style: "width: 90%"}  

  - if current_page.data.digispark_platform == true
    /// Analog Sensor
    %li
      %a{href:"/documentation/platforms/digispark", title: "Digispark"}
        %p.title Analog Sensor
        %img{src: "/images/devices/digispark.jpg", style: "width: 90%"}

  - if current_page.data.joystick_platform == true
    /// Joystick
    %li
      %a{href:"/documentation/platforms/joystick", title: "Joystick"}
        %p.title Joystick
        %img{src: "/images/devices/joystick.jpg", style: "width: 90%"}

  - if current_page.data.leapmotion_platform == true
    /// Leap Motion
    %li
      %a{href:"/documentation/platforms/leapmotion", title: "Leap Motion"}
        %p.title Leap Motion
        %img{src: "/images/devices/leap_motion.jpg", style: "width: 90%"}

  - if current_page.data.neurosky_platform == true
    /// Neurosky
    %li
      %a{href:"/documentation/platforms/neurosky", title: "Neurosky"}
        %p.title Neurosky
        %img{src: "/images/devices/neurosky.jpg", style: "width: 90%"}

  - if current_page.data.opencv_platform == true
    /// Open CV
    %li
      %a{href:"/documentation/platforms/opencv", title: "OpenCV"}
        %p.title OpenCV
        %img{src: "/images/devices/opencv.jpg", style: "width: 90%"}

  - if current_page.data.pebble_platform == true
    /// Pebble
    %li
      %a{href:"/documentation/platforms/pebble", title: "Pebble"}
        %p.title Pebble
        %img{src: "/images/devices/pebble.jpg", style: "width: 90%"}

  - if current_page.data.raspberry_platform == true
    /// Raspberry Pi
    %li
      %a{href:"/documentation/platforms/raspberry-pi", title: "Raspberry Pi"}
        %p.title Raspberry Pi
        %img{src: "/images/devices/raspi.jpg", style: "width: 90%"}

  - if current_page.data.roomba_platform == true
    /// Roomba
    %li
      %a{href:"/documentation/platforms/roomba", title: "Roomba"}
        %p.title Roomba
        %img{src: "/images/devices/roomba.jpg", style: "width: 90%"}

  - if current_page.data.spark_platform == true
    /// Spark
    %li
      %a{href:"/documentation/platforms/spark", title: "Spark"}
        %p.title Spark
        %img{src: "/images/devices/spark.jpg", style: "width: 90%"}

  - if current_page.data.sphero_platform == true
    /// Sphero
    %li
      %a{href:"/documentation/platforms/sphero", title: "Sphero"}
        %p.title Sphero
        %img{src: "/images/devices/sphero.jpg", style: "width: 90%"}

