.side-documentation {
  @include span-columns(3 of 12);
  background: $color-green;
  border-radius: 5px;
  margin-top: em(20);
  padding: 0 em(10);

  @include media($tablet) {
    @include span-columns(12 of 12);
    height: auto;
     margin-top: 0;
    position: relative;
  }

  .mobile-menu {
    background: $color-green;
    text-align: right;
    display: none;

    @include media($tablet) {
      display: block;
    }

    h1.sidebar-title {
      color: white;
      float: left;
      font-weight: 400;
      margin: em(6) 0 0 em(5);
      padding: 0;
    }

    .active {
      background: white;

      .line {
        background: $color-green;
      }
    }

    a {
      background-color: $color-dark-green;
      border-radius: 13px;
      padding: em(10) em(12);
      margin: em(5);
      display: inline-block;

      &:hover {
        background: white;
        cursor: pointer;

        .line {
          background: $color-green;
        }
      }

      .line {
        margin: em(5) 0 em(5);
        background: white;
      }
    }
  }

  .docs-sidebar {
    padding-top: em(30);

    @include media($tablet) {
      padding-top: 0;
      display: none;
    }

    &.show {
      display: block;
    }

    @include media($mobile) {
      z-index: 1;
      position: relative;
    }

    > a, .section .name {
      font-size: em(14);
      font-weight: 600;
      border-bottom: 1px solid $color-light-green;

      &:last-of-type {
        border-bottom: none;
      }
    }

    a, .name {
      width: 100%;
      display: block;
      padding: em(10);
      cursor: pointer;
      position: relative;
      color: $color-grey;

      &:hover {
        color: $color-lightest-grey;
      }
    }

    .links a {
      font-size: em(13);
      color: #333;
      padding: em(5) em(10);

      &:hover {
        color: $color-lightest-grey;
      }
    }

    a.active {
      color: $color-light-grey;
    }

    .section .links {
      padding: em(10) 0 0 em(15);
    }

    .sub-section .links {
      padding-left: em(20);
    }

    .section:before {
      content: '▶';
      float: right;
      margin-top: em(13);
      margin-right: em(10);
      color: $color-grey;
      font-size: em(11);
      position: relative;
      z-index: 0;
    }

    .section.active:before {
      content: '▼';
    }
  }
}

.container-documentation {
  @include span-columns(9 of 12);

  @include media($tablet) {
    @include span-columns(12 of 12);
    margin-top: 50px;
  }
}

.sidebar-header{
  background: url(/images/elements/grass-short.png) top center repeat-x;
  background-size: 42%;
  height: 22px;
  margin: -22px -5px 0;
  text-align: center;

  @include media($tablet) {
    background-size: 15%;
  }

  img{
    margin-top: em(-60);
    @include media($tablet) {
      margin-top: em(-40);
    }
  }
}