.hero {

  background: url($header-background-src) $hero-color top center no-repeat;
  height: 455px;
  position: relative;
  z-index: 0;

  .container {

      @include outer-container;
  }

  .gobot {

    @include span-columns(4);

    img {

      margin: 54px 0px 0 -274px;
    }

    @include small-screen {

      display: none;
    }
    @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {

      img {
        width: 80%;
        margin-top: 15px;
      }
    }
  }

  a.cta {

    @extend .cta;
  }
}

.description {

  @include span-columns(8);
  margin-top: 35px;

  @include small-screen {

    @include span-columns(12);
    text-align: center;
  }

  .title,a {

    color: $menu-background-color;
    font-weight: 400;
    font-size: 41px;

    span{

      font-size: 73px;
      white-space: nowrap;
      line-height: 70px;

      @include small-screen {

        font-size: 50px;
        line-height: 40px;
      }
    }

    @include small-screen {

      font-size: 23px;
      line-height: 27px;
      padding: 0;
    }

    @include medium-screen {

      font-size: 33px;
    }
  }

  p,a {

    font-size: 22px;
    line-height: 30px;
    
    @include large-screen{
      max-width: 520px;
    }
  }
}

.title > a{
  @include title-font(16px, $menu-background-color);
}

.social {

  line-height: 0;
  padding: 55px 0 20px;

  @media only screen and (max-width: $big-screen) {

    margin-bottom: 85px;
  }

  .container{
    @include medium-screen {

      padding-left: 0;
    }
  }

  .twitter-follow-button {

    vertical-align: top;
  }

  .splitter {

    display: inline-block;
    height: 21px;
  }

  @include small-screen {
    text-align: center;

    .splitter {
      margin-bottom: 10px;
    }

    #twitter-widget-1{

      display: none;
    }

    #twitter-widget-0{
      
      width: 99px !important;
    }

    .fork{

      display: none;
    }
  }
  @include extra-small-screen{
    .splitter{
      display: block;
    }
  }
}

.cta {

  border-radius: 7px;
  height: 57px;
  width:  175px;
  box-shadow: inset 0px -5px $button-shadow-color;
  border: 1px solid $button-border-color;
  padding: 10px 20px;
  display: inline-block;
  margin: 17px 0 0 0;
  font-weight: bold;
  text-align: center;

  &, &:visited, &:active {

    background: $button-color;
    color: $menu-background-color;

  }

  &:hover, &:focus {

    background: darken($button-color, 10%);
    box-shadow: inset 0px -5px darken($button-shadow-color, 10%);
  }

  @include small-screen {

    font-size: 16px;
    padding: 8px 15px;
  }
}

.homepage-platform {

  list-style: none !important;
  margin: 0;

  li {

    @include small-screen {

      width: 49%;
      float: none;
    }

    display: inline-block;
    width: 19%;
    text-align: center;

    img {

      &:hover {

        opacity: .8;
      }
    }

    a {

      p.title {
        color: $lesser-title-color;
        font-size: 18px;
        padding:10px;
        display: block;
        width: 100%;
      }
      &:hover p.title {
        color: $cta-color;
      }
      
    }
  }
}

.grass{
  background: url(/images/elements/grass.png) top center repeat-x;
  position: relative;
  height: 100px;
  top: -15px;

  @include small-screen{
    top:62px;
  }

  @include extra-small-screen{
    top: 25px;

    .social{
      padding-top: 40px;
    }
  }
} 

.about{
  background: url(/images/elements/ground.png) top center repeat;
  margin: -11px 0 0px 0;
  text-align: center;

  h2{
    padding: 57px 0;
    color: $hero-subtitle-color; 
  }

  span{
    color: $hero-link-color;
  }

}

h2.homepage{
  color: $cta-color;
  margin-top: 60px;
}

h2.platforms {
  margin-top: 0;
  padding: 25px 0 0 15px;
}

.hill{
  @include large-screen{
    background: #83C74E;
    position: relative;
    height: 100px;
    top: -165px;
    padding-bottom: 75px;
    z-index: -1;
  }
}

.clouds{ 
  position: absolute;
  width: 100%; 
  height: 167px;
  background-image: url(/images/elements/clouds.png);
  background-position: 0px;
  background-repeat: repeat-x;
  @include animation(cloud 25s infinite linear);
}

@include keyframes(cloud) {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1400px;
  }
}

.inner{
  @include animation(wave 1s infinite linear);
  background: url(/images/elements/wave.png) top center no-repeat;
  background-size: 50%;
  height: 112px;
  position: absolute;
  right: 155px;
  top: 83px;
  width: 112px;

  @include medium-screen{
    right: 99px;
  }
}

.outer{
  @extend .inner;
  @include animation(wave 1s infinite linear);
  @include animation-delay(.5s);
}

@include keyframes(wave) {
  0% {
    background-size: 50%;
    top: 83px;
    opacity: 1;
  }
  50% {
    opacity: .75;
  }
  100% {
    background-size: 130%;
    top: 38px;
    opacity: 0;
  }
}