---
title: Gobot Guides
author: The Hybrid Group
page_title: Adding Hardware Support
page_subtitle: Visit the Guides for more information about Gobot and its amazing features.
layout: documentation
page_title_show: true
active_menu_docs: true
---

.cli
  %h1 Adding Hardware Support
  %h2 Adding a platform
  %p
    How to add a new platform

  %h2 Adding a driver
  %p
    How to add a new platform
