---
title: Gobot Guides
author: The Hybrid Group
page_title: Classic Gobot
page_subtitle: Visit the Guides for more information about Gobot and its amazing features.
layout: documentation
page_title_show: true
active_menu_docs: true
---

.cli
  %h1 Classic Gobot
  %h2 What is it?
  %p
    The simplest way to create robots, and drones, and Internet connected things, is to use "Classic Gobot".

  %h2 "Hello, World" using Classic Gobot
  :markdown
        :::go
        // sample here...


  %h2 How can I use it?
  %p
    More explanation here...
