---
title: Gobot Guides
author: The Hybrid Group
page_title: Master Gobot
page_subtitle: Visit the Guides for more information about Gobot and its amazing features.
layout: documentation
page_title_show: true
active_menu_docs: true
---

.cli
  %h1 Master Gobot
  %h2 What is it?
  %p
    Use Master Gobot when you want to provide an API to your robot, drone, or Internet connected thing. Also, use Master Gobot when you want to create a swarm of devices, and control them as a single unit.

  %h2 "Hello, World" using Master Gobot
  :markdown
        :::go
        // sample here...


  %h2 How can I use it?
  %p
    More explanation here...
