---
title: Gobot Guides
author: The Hybrid Group
page_title: Metal Gobot
page_subtitle: Visit the Guides for more information about Gobot and its amazing features.
layout: documentation
page_title_show: true
active_menu_docs: true
---

.cli
  %h1 Metal Gobot
  %h2 What is it?
  %p
    Use Metal Gobot when you want to use the individual Gobot packages yourself to have the greatest control, or to more easily integrate Gobot functionality into your existing Golang code.

  %h2 "Hello, World" using Metal Gobot
  :markdown
        :::go
        // sample here...


  %h2 How can I use it?
  %p
    More explanation here...
