---
page_title_show: true
title: Gobot Core
author: The Hybrid Group
description: Gobot Helpers
page_title: Core
page_subtitle: Components that make up Gobot's Core.
layout: documentation
active_menu_docs: true
---

:markdown
  # Helper Functions

  Gobot comes with some helper functions to assist with common activities.

  ## Timers

  #### <a href="http://godoc.org/gobot.io/x/gobot#Every" target="blank">Every</a>

  #### <a href="http://godoc.org/gobot.io/x/gobot#After" target="blank">After</a>

  ## Numbers

  #### <a href="http://godoc.org/gobot.io/x/gobot#Rand" target="blank">Rand</a>

  #### <a href="http://godoc.org/gobot.io/x/gobot#FromScale" target="blank">FromScale</a>

  #### <a href="http://godoc.org/gobot.io/x/gobot#ToScale" target="blank">ToScale</a>

  ## Testing

  #### <a href="http://godoc.org/gobot.io/x/gobot#Refute" target="blank">Refute</a>

  #### <a href="http://godoc.org/gobot.io/x/gobot#Assert" target="blank">Assert</a>
