---
page_title_show: true
title: Gobot Core
author: The Hybrid Group
description: Gobot Helpers
page_title: Core
page_subtitle: Components that make up Gobot's Core.
layout: documentation
active_menu_docs: true
---

:markdown
  # Helper Functions

  Gobot comes with some helper functions to assist with common activities.

  ## Timers

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#On" target="blank">On</a>

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#After" target="blank">After</a>

  ## Events

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#On" target="blank">On</a>

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#Once" target="blank">Once</a>

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#Publish" target="blank">Publish</a>

  ## Numbers

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#Rand" target="blank">Rand</a>

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#FromScale" target="blank">FromScale</a>

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#ToScale" target="blank">ToScale</a>

  ## Testing

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#Refute" target="blank">Refute</a>

  #### <a href="http://godoc.org/github.com/hybridgroup/gobot#Assert" target="blank">Assert</a>
