---
title: Gobot Guides
author: The Hybrid Group
page_title: Master
page_subtitle: Components that make up Gobot's Core.
layout: documentation
page_title_show: true
active_menu_docs: true
---

%section
  :markdown
    # Master

    Explanation about the Gobot Master here...
