---
title: Gobot Guides
author: The Hybrid Group
page_title: Core
page_subtitle: Components that make up Gobot's Core.
layout: documentation
page_title_show: true
active_menu_docs: true
---

.api
  %h1 sysfs
  %h2  How to Use
  %p Package sysfs provides generic access to linux gpio. It is intended to be used while implementing support for a single board linux computer a RESTful API to query the status of any robot running within a group, including the connection and device status, and execute device commands.