---
title: Gobot Guides
author: The Hybrid Group
page_title: Core
page_subtitle: Components that make up Gobot's Core.
layout: documentation
page_title_show: true
active_menu_docs: true
---

.api
  %h1 sysfs
  %p
    For information on sysfs in gobot
    = link_to "checkout the godoc site.", "http://godoc.org/github.com/hybridgroup/gobot/sysfs", target: "_blank"