.info-intro
  :markdown


    Gobot provides an adaptor for the ESP8266 as well as Arduino-compatible microcontrollers that support the [Firmata](http://firmata.org/wiki/Main_Page) protocol used with a WiFi adaptor.

    For more info about the ESP8266 platform go to [http://espressif.com/products/hardware/esp8266ex/overview/](http://espressif.com/products/hardware/esp8266ex/overview/).

  = current_page.data.api_reference
.clear
%section.how-to
  :markdown

    ## How to Install

        go get -d -u gobot.io/x/gobot/... && go install gobot.io/x/gobot/platforms/firmata


    ## How to Use

        :::go
        // code here...

    ## How to Connect

    ### Upload the Firmata Firmware to the ESP8266

    This section assumes you're using a ESP8266 or other compatible board. If you already have the Firmata sketch installed on your ESP8266, you can skip straight to the examples.

    ### OS X

    Instructions here...

    ### Ubuntu

    Instructions here...

    ### Windows

    Instructions here...
