.info-intro

= current_page.data.api_reference

.clear
%section.how-to
  :markdown
    ## How to Install

    ## How to Use

    ## How to Connect

    All that you need to do is plug the keyboard into your computer as usual.
