.info-intro
  :markdown
    OpenCV (Open Source Computer Vision Library) is an open source computer vision and machine learning software library. OpenCV was built to provide a common infrastructure for computer vision applications and to accelerate the use of machine perception in the commercial products. Being a BSD-licensed product, OpenCV makes it easy for businesses to utilize and modify the code.

    For more info about OpenCV click [here](http://opencv.org/)

    Gobot uses the GoCV (https://gocv.io) package for OpenCV.

  = current_page.data.api_reference
.clear
%section.how-to
  :markdown

    ## How to Install

    This package requires GoCV and OpenCV version 3.3 be installed on your system.

    First, follow the installation instructions for your platform at [https://gocv.io/getting-started/](https://gocv.io/getting-started/)

    Now you can install the Gobot package with

        go get -d -u gobot.io/x/gobot/...


    ## How to Use

    Example using the camera.

        :::go
        package main
        
        import (
        	"gobot.io/x/gobot"
        	"gobot.io/x/gobot/platforms/opencv"
        	"gocv.io/x/gocv"
        )
        
        func main() {
        	window := opencv.NewWindowDriver()
        	camera := opencv.NewCameraDriver(0)
        
        	work := func() {
        		camera.On(opencv.Frame, func(data interface{}) {
        			img := data.(gocv.Mat)
        			window.ShowImage(img)
        			window.WaitKey(1)
        		})
        	}
        
        	robot := gobot.NewRobot("cameraBot",
        		[]gobot.Device{window, camera},
        		work,
        	)
        
        	robot.Start()
        }

