.info-intro
  :markdown
    # Upboard

    This package contains the Gobot adaptor for the [UP2]() IoT platforms.

    This package currently supports the following hardware:
    - UP2 (Squared)

  = current_page.data.api_reference
.clear
%section.how-to
  :markdown
    # Upboard

    This package contains the Gobot adaptor for the [UP2]() IoT platforms.

    This package currently supports the following hardware:
    - UP2 (Squared)

