---
page_title_show: true
title: Flying Iris At Distill 2014
page_title: Blog
date: 2014-08-08
tags: events
author: Ron Evans
---

:markdown

  Team Gobot was speaking at the [Distill 2014]() conference in San Francisco this week. Held at the [Palace of Fine Arts](), we were able to fly a 3DRobotics Iris around using a pre-release of our new support of the Mavlink protocol.

  <iframe width="560" height="315" src="//www.youtube.com/embed/t9iUGJ3KIa0" frameborder="0" allowfullscreen></iframe>

  During a group photo that took place the day after our talk about ["The 10 Rules of RobotOps"](), we had a golden opportunity to fly around a little inside the facility, and captured some rather unique footage, as you can see above.

  We will be releasing our code for the Golang MAVLINK generator, along with gobot-mavlink itself, very soon. Here is a little taste of what we can do:

  And here is the code:

      :::golang
      // code here...

  Want to keep up to date on the latest news and information about Gobot? Please follow us on Twitter at [@gobotio](http://twitter.com/gobotio)!
