---
page_title_show: true
title: Flying Iris At Distill 2014
page_title: Blog
date: 2014-08-08
tags: events
author: Ron Evans
---

Team Gobot was speaking at the [Distill 2014]() conference in San Francisco. Held at the [Palace of Fine Arts](), we were able to fly a 3DRobotics Iris around using a pre-release of our new support of the Mavlink protocol, during our talk about ["The 10 Rules of RobotOps"]().

Video here...

During a group photo that took place the following day, we had a golden opportunity to fly around a little inside the facility, and captured some rather unique footage.

We will be releasing our code for the Golang MAVLINK generator, along with gobot-mavlink very soon. Here is a little taste of what we can do:

Code sample here... 

Want to keep up to date on the latest news and information about Gobot? Please follow us on Twitter at [@gobotio](http://twitter.com/gobotio)!
