.blog-footer
  %h2 Contact Us
  %ul
    %li
    To stay up to date with all Gobot news, join our 
    = link_to "mailing list", "https://groups.google.com/forum/#!forum/gobotio", target: :blank
    %li Need to some help? Talk to us on IRC at #gobotio @ irc.freenode.net
    %li 
    If you need help or you feel we can improve something, let us know! Open a 
    = link_to "new issue.", "https://github.com/hybridgroup/gobot/issues/new", target: :blank
    %li 
    To subscribe for announcements of releases and important changes please follow 
    = link_to "@gobotio", "https://twitter.com/gobotio", target: :blank 
