---
title: Gobot Videos
page_title: Videos
page_subtitle: gobot around the world.
layout: page
active_menu_videos: true

page_title_show: true
---

%section.videos
  %p During the past few months we've been traveling around the world to many different conferences to talk about Gobot, here we have just some of the videos, soon we'll add more!
  .video
    %h3 GopherCon 2014 Gobot: Go Powered Robotics and Physical Computing
    %iframe{:src => "http://www.youtube.com/embed/Va-NE55AqBs", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h3 Robotic hand being controlled by Gobot & Arduino + Leap Motion
    %iframe{:src => "https://www.youtube.com/embed/ayNMyUfdAqc", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h3 Flying Iris At Distill 2014
    %iframe{:src => "//www.youtube.com/embed/t9iUGJ3KIa0", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h3 Gobot on Intel Edison
    %iframe{:src => "//www.youtube.com/embed/X1ZmNHg0G30", :frameborder => "0", :allowfullscreen => "true"}

